@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@250;350;450&display=swap');

@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #000;
  color: white;
}
